/* Include the padding and border in an element's total width and height */
*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, rgb(30, 214, 128), rgb(26, 106, 180));
    color: white;
    font-family: 'Dancing Script', cursive;
    min-height: 100vh;
}

header{
    text-align: center;
}

h2{
    font-size: 400%;
    color: rgb(243, 11, 154);
    
}
p{
    font-size: 200%;
    color: rgb(204, 6, 128);

}

form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0,5rem;
    font-size: 2rem;
}

form button{
    color: rgb(5, 90, 90);
    background: white;;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
}
form button:hover{
    background: rgb(5, 90, 90);
    color: white;

}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background-color: white;
    color: black;
    font-size: large;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}
.todo li{
    flex: 1;
}
.todo-item{
    padding: 0rem 0.5rem;
}

.trash-btn, .complete-btn{
    background:rgb(5, 90, 90);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.complete-btn{
    background-color: rgb(245, 47, 245);
}
.fall{
    transform: translateY(5rem) rotateX(100deg);
    opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: rgb(5, 90, 90);
    width: 10rem;
    cursor: pointer;
    padding:0.7rem;
}
.select::after{
    content: "\25BC";
    position:absolute;
    background-color: rgb(5, 90, 90);
    top:0;
    right: 0;
    padding: 0.7rem;
    pointer-events: none;
}
.select:hover::after{
    background: white;
    color: rgb(5, 90, 90);
}
